html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url(homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #000;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;


}

nav.navbar, .navbar-default, .navbar-brand, .navbar-default, .navbar-nav li a {
  background-image: url(navbar2.jpeg);
  margin-bottom: 0;
  border: none;
  color: #ffd200;
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;

}

.navbar-default, .navbar-default .navbar-nav li a {
  color: #ED8429;
  -webkit-font-smoothing: antialiased;
}*/


div.container-fluid {
  /*margin-top: 30px;*/
  margin-left: 15px;
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 15px;

}

.navbar-header {
  font-family: 'Architects Daughter', cursive;
  font-size: 28px;
  margin-left: 30px;

}


.row {
  background: rgba(201, 179, 121, 0.525);
  height: 100%;
  margin-top: 200px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;

 /* padding-bottom: 80px;*/
}

#register {
  margin: 0px;
}
#uname {
  margin: 0px;
}
#uname1, #pwd1 {
  color: #4A2C1D;
  font-size: 18px;
}

#fname {
  margin: 0px;
}
#lname {
  margin: 0px;
}
#email {
  margin: 0px;
}
#zipc {
  margin: 0px;
}
#pwd {
  margin: 0px;
}

#signup {
  text-align: center;
}

h1, h2 {
  font-family: 'Architects Daughter', cursive;
}

#appname{
  margin: 36px;
  font-size: 48px;
}

/*#h1left {
    color: #000;
    font-family: 'Pacifico', cursive;
    font-size:88px;
    text-align: right;
    padding-top: 40px;
    padding-bottom: 75px;
}

 opacity: .65;*/


::-webkit-input-placeholder {
  color: #4A2C1D;
}

.form-control::-webkit-input-placeholder {
  color: #4A2C1D;
  font-size: 26px;
  margin-top: 50px;
}


p {
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 300px;
  padding: 10px 0px;
  background: transparent;
  border: 0;
  border-bottom: 3px dashed #4A2C1D;
  border-radius: 0;
  outline: none;
  color: #4A2C1D;
  font-size: 16px;
  text-align: center;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-weight: 300;
  font-style: italic;
  margin: 25px;
  font-family: 'Architects Daughter', cursive;
}

input[type="submit"] {
  background: #ffe500;
  margin: 0px;
  border: 0;
  width: 300px;
  height: 60px;
  border-radius: 3px;
  color: #4A2C1D;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  transition: background 0.3s ease-in-out;
  font-family: 'Architects Daughter', cursive;
}
/*input[type="submit"]:hover {
  background: #cccccc;
  animation-name: shake;
}
*/

.btn, .btn-default, .btn:hover {
  margin: 25px;
  padding: 15px 30px;
  border: none;
  font-family: 'Architects Daughter', cursive;
  font-size: 28px;
  line-height: 1;
  color: #4A2C1D;
  text-decoration: none;
  background-color: transparent;

}

/*.btn:hover {
    color: #4A2C1D;
    background-color: #4A2C1D;
}*/