{% extends 'base.html' %}
{% block content %}


<div class="col-xs-12">
    <h1>Please Add Members To your {{ trip_code }} trip:</h1>
    <form action="/add_member/{{ trip_code }}" method="POST">
        Member ID: <select id="memberid" name="memberid">
                    {% for user in users %}
                    <option value={{user.user_id}}>{{user.user_id}}, {{ user.first_name }} {{ user.last_name }}</option>

                    {% endfor %}

                   </select>
        
        <input type="submit" value="submit"><br>
        
    </form>
</div>

{% endblock %}