{% extends 'base.html' %}
{% block content %}


<div class="col-xs-6">
    <h1>User Login</h1>

    <form id="userlogin" action="/login" method="POST">
        User Name: <input id="uname" type="text" name="username" required><br>
        Password: <input id="pwd" type="password" name="password" required><br>
        <input type="submit" value="Submit"><br>
    </form>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="/static/credentials.js"></script>

{% endblock %} 