{% extends 'base.html' %}
{% block content %}


<div class="col-xs-12">
    <h1>User Registration</h1>
    <form id="registration" action="/register" method="POST">
        User Name: <input id='uname' type="text" name="username" required><br>
        First Name: <input id='fname' type="text" name="firstname" required><br>
        Last Name: <input id='lname' type="text" name="lastname" required><br>
        Email: <input id='email' type="email" name="email" required ><br>
        Password: <input id='pwd' type="password" name="password" required><br>
        Zip Code: <input id='zipc' type="text" name="zipcode"><br>
        <input type="submit" value="submit"><br>
        
    </form>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="/static/credentials.js"></script>

{% endblock %}