{% extends 'base.html' %}

{% block title %} 
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">
<style type="text/css">


</style>
{% endblock %}

{% block content %}
<div class="col-xs-12">
    <h1>Hello {{ name }}:</h1>
    <h1>Welcome to {{ trip_name }} trip page. </h1>
    
    <h2>People that are joining you on this trip:</h2>

    <ul>
        {% for member in members %}
            {% if member.user_id != username %}

            <li>
              <a href="/member_profile/{{ username }}">
                {{ member.first_name }} {{ member.last_name }}</a> 
            </li>

          {% endif %}
      {% endfor %}

    </ul>
    <a href="/add_member/{{ trip_code }}">Add members to this trip</a>
</div>

<div id="chatlogs" >
    <h1>Group Communication:</h1>
  
   <ul id="messages" style="height: 100px; overflow-y: auto">
    {% for msg in messages %}
      <li>{{ msg.comment }}</li>

    {% endfor %}
   </ul>
<div id="chat-end"></div>

</div>


<div>
  <form id="sendmessage">
    <textarea rows="4" cols="80" id="mytext" name="mymessage"></textarea>
    <input id="sendbutton" type="button" value="Send Message" >
  </form>
</div>



<div class="list">
  <h1> Your List here</h1>
  <form action="/list/{{ trip_code }}" method="POST">
    <table class="editabletable" border="1">
      <tr>
        <th> Action Items </th>
        <th>Action Assigned To</th>
        <th>Completed (Y/N)</th>
      </tr>
      {% if items %}
      {% for item in items %}
      <tr>
        <td><div contenteditable>{{ item.description }}</div></td>
        <td><div contenteditable>{{ item.user_id }}</div></td>
        <td><div contenteditable>{{ item.completed }}</div></td>
      </tr>
      {% endfor %}
      {% endif %}
      <tr>
        <td><input type="text" name="description"></td>
        <td><input type="text" name="userid"></td>
        <td><input type="checkbox" name="completed" value="True"></td>
      </tr>
      <input id="listitem" type='submit' value='Add Item' >

    </table>
  </form>
</div>


<div>
<h1> Your Maps go here:</h1>
    <div id="floating-panel">
      <input id="address" type="textbox" value="San Francisco, CA">
      <input id="submit" type="button" value="Geocode">
      <input id="submarker" type="button" value="Log This Route">
    </div>
    <div id="map" style="width: 900px; height: 400px; "></div>
</div>

<div>
  <h1> This is the End</h1>
  <h2> Yes it is</h2>
</div>

<!-- Place your scripts here:  -->
<script type="text/javascript"> 
var tripCode = "{{ trip_code }}";


</script>
<script src="https://code.jquery.com/jquery.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script type="text/javascript" src="/static/myscript.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtjaYCg5PDFA51RUUBsgBulbGB0BX9qac&callback=initMap"
async defer></script>

{% endblock %}